<h3>Home</h3>

{{#dragula-drake}}

	{{#shopping-list}}

		{{#shopping-category}}
			<div class="shopping-item">Thing one</div>
			<div class="shopping-item">Thing two</div>
			<div class="shopping-item">Thing three</div>
			<div class="shopping-item">Thing four</div>
		{{/shopping-category}}

		{{#shopping-category}}
			<div class="shopping-item">Thing five</div>
			<div class="shopping-item">Thing six</div>
			<div class="shopping-item">Thing seven</div>
			<div class="shopping-item">Thing eight</div>
		{{/shopping-category}}


	{{/shopping-list}}

{{/dragula-drake}}


