<h3>Home</h3>

{{#dragula-drake class='row'}}

	{{#dragula-container class='col s6'}}
		<div>one</div>
		<div>two</div>
		<div>three</div>
	{{/dragula-container}}

	{{#dragula-container class='col s6'}}
		<div>four</div>
		<div>five</div>
		<div>six</div>
	{{/dragula-container}}

{{/dragula-drake}}
