<h3>Home</h3>

{{#dragula-drake}}

	<div class="shopping-list">
		{{#dragula-container}}

			<div class="shopping-category">
				{{#dragula-container}}
					<div class="shopping-item">Thing one</div>
					<div class="shopping-item">Thing two</div>
					<div class="shopping-item">Thing three</div>
					<div class="shopping-item">Thing four</div>
				{{/dragula-container}}
			</div>

			<div class="shopping-category">
				{{#dragula-container}}
					<div class="shopping-item">Thing five</div>
					<div class="shopping-item">Thing six</div>
					<div class="shopping-item">Thing seven</div>
					<div class="shopping-item">Thing eight</div>
				{{/dragula-container}}
			</div>

		{{/dragula-container}}
	</div>

{{/dragula-drake}}


