<div class='container'>
  <h5 class='blue-text text-darken-4'>This site was built with the following</h5>
  <ul class="collection">
    {{#each model as |item|}}
      {{toggle-details item=item}}
    {{/each}}
  </ul>
</div>
