<div class='container'>
  <ul class="collection">
    <div class='collection-item blue lighten-5'>
          <h5 class='blue-text text-darken-4'>This site was built with...</h5>
    </div>
    {{#each model as |item|}}
      {{toggle-details item=item}}
    {{/each}}
  </ul>
</div>
