<h3 id="title">Paul McConnell</h3>
<hr/>

<ul class="nav nav-pills">
  <li role="presentation" class="active">{{link-to 'Home' 'home'}}</li>
  <li role="presentation">{{link-to 'Resume' 'resume'}}</li>
</ul>

{{outlet}}
